
    <!-- About Start -->
    <div class="container-fluid py-5">
        <div class="container">
            <div class="row g-5 align-items-center">
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                    <div class="about-img">
                        <img class="img-fluid" src="../../../../assets/img/about-img.jpg">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                    <div class="btn btn-sm border rounded-pill text-light px-3 mb-3">{{ getTranslation('aboutUs')}}</div>
                    <h1 class="mb-4 text-light">{{ getTranslation('aboutUsTitle')}}</h1>
                    <p class="mb-4 text-light">{{ getTranslation('aboutUsFirtsDescription')}}</p>
                    <p class="mb-4 text-light">{{ getTranslation('aboutUsSecondDescription')}}</p>
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <h6 class="mb-3 text-light"><i class="fa fa-check text-light me-2"></i>{{ getTranslation('aboutUsAward')}}</h6>
                            <h6 class="mb-0 text-light"><i class="fa fa-check text-light me-2"></i>{{ getTranslation('aboutUsStaff')}}</h6>
                        </div>
                        <div class="col-sm-6">
                            <h6 class="mb-3 text-light"><i class="fa fa-check text-light me-2"></i>{{ getTranslation('aboutUsSupport')}}</h6>
                            <h6 class="mb-0 text-light"><i class="fa fa-check text-light me-2"></i>{{ getTranslation('aboutUsPrices')}}</h6>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mt-4">
                        <a class="btn btn-light rounded-pill px-4 me-3" href="">{{ getTranslation('aboutUsReadMore')}}</a>
                        <a class="btn btn-outline-light btn-square me-3" href="https://www.facebook.com/sistincon" target="_blank"><i class="fab fa-facebook-f"></i></a> 
                        <a class="btn btn-outline-light btn-square me-3" href="https://www.tiktok.com/@sistincon" target="_blank"><i class="fab">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tiktok" viewBox="0 0 16 16">
                                <path d="M9 0h1.98c.144.715.54 1.617 1.235 2.512C12.895 3.389 13.797 4 15 4v2c-1.753 0-3.07-.814-4-1.829V11a5 5 0 1 1-5-5v2a3 3 0 1 0 3 3z"/>
                              </svg>
                        </i></a>
                        <a class="btn btn-outline-light btn-square me-3" href="https://www.instagram.com/sistincon_teh" target="_blank"><i class="fab fa-instagram"></i></a>
                        <a class="btn btn-outline-light btn-square" href="https://www.linkedin.com/company/sistincon/" target="_blank"><i class="fab fa-linkedin-in"></i></a>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- About End -->